@charset "UTF-8";
/*! 盛邦升华 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  clear: both;
  display: table;
  content: ""; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.logo, .nav li, .footer-ul li {
  float: left; }

.banner_top_right {
  float: right; }

ul {
  margin-bottom: 0 !important; }

header {
  position: relative;
  background-attachment: fixed; }
  header .container {
    width: 90%; }
    header .container .logo {
      position: absolute;
      left: 46%;
      top: 20px; }
    header .container .nav {
      width: 100%; }
      header .container .nav li {
        z-index: 15;
        width: 10.5%;
        position: relative;
        line-height: 100px;
        text-align: center; }
        header .container .nav li a {
          font-size: 14px;
          padding: 0 22px;
          display: inline-block;
          color: #1c1c1c;
          height: 100px;
          line-height: 100px; }
      header .container .nav li:nth-of-type(5) {
        margin-left: 16%; }

.banner {
  width: 100%;
  height: 793px;
  background: url(../images/banner.jpg) no-repeat bottom;
  background-size: cover; }

main {
  width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 20em; }
  main .main-border {
    height: 760px;
    background: url(../images/main_border.jpg) no-repeat center;
    background-size: cover; }
  main img {
    height: 355px;
    width: 58.7%;
    position: absolute;
    margin: 0 auto;
    top: 23%;
    left: 23%;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.51); }

.content1 {
  background: url(../images/content_bg.jpg);
  padding: 10% 0; }
  .content1 img {
    display: block;
    width: 61%;
    margin: auto;
    text-align: center; }

.content2 {
  height: 801px; }
  .content2 .content2-pic1 {
    height: 760px;
    padding-left: 0;
    padding-right: 0; }
    .content2 .content2-pic1 img {
      width: 100%;
      height: 100%; }
  .content2 .content2-pic2 {
    height: 760px;
    padding-left: 0;
    padding-right: 0; }
    .content2 .content2-pic2 img {
      width: 100%;
      height: 100%; }

.footer {
  background: url(../images/footer_bg.jpg);
  padding-top: 5%;
  font-size: 11px;
  color: #fff; }
  .footer .footer-logo {
    width: 282px;
    height: 190px;
    margin: auto;
    background: url(../images/footer_logo.png) no-repeat;
    background-size: contain; }
  .footer .footer-text {
    margin-bottom: 1em; }
    .footer .footer-text h4 {
      display: block;
      float: left;
      width: 100%;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      margin-bottom: 5%; }
      .footer .footer-text h4 i {
        display: inline-block;
        width: 30%;
        height: 1px;
        vertical-align: top;
        margin-top: 12px;
        background: #e1e1e1;
        opacity: 0.7; }
      .footer .footer-text h4 span {
        display: inline-block;
        width: 30%; }
    .footer .footer-text .footer-text1 p {
      margin-left: 25px; }
    .footer .footer-text .footer-text2 .footer-ul {
      width: 100%; }
      .footer .footer-text .footer-text2 .footer-ul li {
        width: 16.5%;
        padding: 0 0.2em; }
        .footer .footer-text .footer-text2 .footer-ul li a {
          display: block;
          width: 100%;
          height: 100%; }
          .footer .footer-text .footer-text2 .footer-ul li a img {
            width: 100%;
            height: 100%; }
    .footer .footer-text .footer-text3 p {
      margin-left: 25px; }
  .footer .footer-copy {
    width: 38%;
    margin: auto; }
    .footer .footer-copy p {
      display: inline-block;
      line-height: 280%;
      text-align: center; }

@media (max-width: 1200px) {
  header .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0; }
    header .container .logo {
      display: none; }
    header .container .nav li {
      padding-left: 0;
      padding-right: 0; }
      header .container .nav li a {
        font-size: 12px;
        padding: 0 5px; }
    header .container .nav li:nth-of-type(5) {
      margin-left: 0; }
  .content1 {
    padding: 19% 0; }
  .content2 .content2-pic1 {
    height: 715px; }
  .content2 .content2-pic2 {
    height: 715px; }
  .footer .footer-copy p {
    display: block !important;
    margin: 0;
    line-height: 230%; } }

@media (max-width: 994px) {
  header .logo {
    position: absolute;
    left: 44%;
    top: 20px;
    width: 12%;
    margin-top: 0.5em; }
    header .logo img {
      width: 100%; }
  header .nav li a {
    font-size: 12px;
    padding: 0 1px; } }

@media (max-width: 670px) {
  header .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0; }
    header .container .logo {
      top: 20px;
      width: 12%; }
      header .container .logo img {
        width: 100%; }
    header .container .nav li:nth-of-type(5) {
      margin-left: 11.5%; } }

@media (max-width: 640px) {
  header .logo {
    width: 11%;
    margin-top: 0.8em; }
    header .logo img {
      width: 100%; }
  header .nav li a {
    font-size: 12px;
    padding: 0 1px; } }

@media (max-width: 580px) {
  header .container .logo {
    display: none; }
    header .container .logo img {
      width: 100%; }
  header .container .nav li:nth-of-type(5) {
    margin-left: 0; } }

@media (max-width: 480px) {
  header .container {
    padding: 0;
    margin: 0; }
    header .container .logo {
      position: inherit;
      width: 30%;
      margin: auto;
      float: none; }
    header .container .nav {
      margin: auto; }
      header .container .nav li {
        width: 24.5%; }
        header .container .nav li a {
          padding: 0 5px; }
      header .container .nav li:nth-of-type(5) {
        margin-left: 0; }
  .banner {
    height: 224px;
    background-size: contain; }
  main {
    padding-bottom: 0; }
    main .main-border {
      height: inherit; }
      main .main-border img {
        height: 171px;
        width: 100%;
        position: inherit;
        border-radius: 0; }
  .content1 {
    height: inherit;
    padding: 2em 0; }
  .content2 {
    height: inherit; }
    .content2 .content2-pic1, .content2 .content2-pic2 {
      height: 270px; }
  .footer .footer-text .footer-text1 p {
    text-align: center; }
  .footer .footer-text .footer-text2 ul {
    padding: 0 1.3em; }
  .footer .footer-text .footer-text1, .footer .footer-text .footer-text2, .footer .footer-text .footer-text3 {
    padding: 1em 1em; }
  .footer .footer-copy {
    width: inherit;
    margin: auto;
    padding-bottom: 1em; }
    .footer .footer-copy p {
      line-height: 200%; } }

h1, h2, h3, h4, h5, h6, ul, li, p {
  padding: 0;
  margin: 0; }

.header-nav li, .center-logo, .center-input
, .nav-li1, .nav-ul, .nav-ul li, .box,
.main-list li, .shop-content-pic,
.shop-content-list, .shop-content-list li,
.shop_rely_on ul li, .shop-footer ul li {
  float: left; }

.center-pic, .banner-right {
  float: right; }

.shop {
  background-color: #f9f9f9; }
  .shop .warper {
    width: 75%;
    margin: auto; }
    .shop .warper header .header-nav {
      background: #eeeeee;
      padding: 0.5em 0; }
      .shop .warper header .header-nav li {
        width: 9%;
        padding: 0 2%;
        text-align: center; }
        .shop .warper header .header-nav li a {
          font-size: 12px;
          color: #4f4f4f; }
      .shop .warper header .header-nav li:nth-of-type(4) {
        margin-left: 27.4%; }
    .shop .warper .simple img {
      width: 100%; }
    .shop .warper .center {
      padding: 2em;
      background: #fff; }
      .shop .warper .center .center-logo {
        width: 15%; }
      .shop .warper .center .center-input {
        width: 43%;
        margin-left: 15%; }
        .shop .warper .center .center-input form {
          display: block;
          width: 100%; }
          .shop .warper .center .center-input form input[type="text"] {
            line-height: 30px;
            float: left;
            width: 78%;
            height: 36px;
            color: #999;
            padding-left: 16px;
            border: 3px solid #c5023a;
            border-right: 0; }
          .shop .warper .center .center-input form button {
            font-family: 'Microsoft YaHei';
            float: left;
            width: 20%;
            height: 36px;
            font-size: 16px;
            color: #fff;
            background-color: #c7023a;
            border: 0; }
        .shop .warper .center .center-input p {
          line-height: 30px;
          clear: both;
          font-family: '宋体';
          color: #aeaeae; }
          .shop .warper .center .center-input p a {
            font-size: 12;
            color: #aeaeae;
            margin-right: 7px; }
      .shop .warper .center .center-pic {
        width: 26%; }
    .shop .warper .nav {
      background: #fff; }
      .shop .warper .nav .nav-li1 {
        width: 19%;
        cursor: pointer;
        background-color: #e9004f;
        text-align: center; }
        .shop .warper .nav .nav-li1 span {
          height: 40px;
          font-size: 16px;
          font-weight: normal;
          color: #fff;
          line-height: 40px; }
      .shop .warper .nav .nav-ul {
        width: 80%; }
        .shop .warper .nav .nav-ul li {
          width: 17%;
          background: url(../images/nav_li_border.jpg) no-repeat right center; }
          .shop .warper .nav .nav-ul li a {
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            display: block;
            color: #4f4f4f; }
        .shop .warper .nav .nav-ul li:nth-of-type(5) {
          background: none; }
    .shop .warper .shop_banner .swiper-container {
      width: 83.9%;
      height: 443px;
      margin: inherit;
      float: left; }
    .shop .warper .shop_banner .swiper-slide {
      width: 560px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .shop .warper .shop_banner .swiper-slide img {
        width: 100%;
        height: 100%; }
    .shop .warper .shop_banner .banner-right {
      width: 16.05%;
      height: 438px;
      float: left; }
      .shop .warper .shop_banner .banner-right .banner-right-text {
        background-color: #ffffff;
        margin-bottom: 1em; }
        .shop .warper .shop_banner .banner-right .banner-right-text h4 {
          height: 40px;
          line-height: 40px;
          overflow: hidden;
          padding: 0 10px;
          background-color: #efefef;
          display: block;
          margin-top: 0; }
          .shop .warper .shop_banner .banner-right .banner-right-text h4 em {
            font-size: 15px;
            font-weight: normal;
            color: #777777;
            padding-left: 21px;
            background: url(../images/icon_ld.png) no-repeat left center; }
        .shop .warper .shop_banner .banner-right .banner-right-text ul {
          margin: 0 18px;
          padding: 1.2em 0 3em 0; }
          .shop .warper .shop_banner .banner-right .banner-right-text ul li {
            height: 30px;
            line-height: 30px;
            overflow: hidden; }
            .shop .warper .shop_banner .banner-right .banner-right-text ul li a {
              color: #666666; }
              .shop .warper .shop_banner .banner-right .banner-right-text ul li a :hover {
                color: #ff6500; }
      .shop .warper .shop_banner .banner-right .banner-right-pic img {
        width: 100%; }
    .shop .warper .shop-main .main-main {
      height: 332px;
      overflow: hidden;
      padding-right: 0;
      padding-left: 0; }
      .shop .warper .shop-main .main-main .main-list {
        float: left;
        width: 100%;
        margin-bottom: 11px;
        border-bottom: 3px solid #000000; }
        .shop .warper .shop-main .main-main .main-list li {
          float: left;
          width: 25%;
          text-align: center; }
          .shop .warper .shop-main .main-main .main-list li a {
            height: 54px;
            line-height: 54px;
            font-size: 18px;
            display: block; }
        .shop .warper .shop-main .main-main .main-list .change {
          position: relative;
          margin-bottom: -3px;
          background: url(../images/icon_arrow4.png) no-repeat center bottom;
          border-bottom: 3px solid #c5023a; }
      .shop .warper .shop-main .main-main .main-box .main-box1 .col-md-3 {
        width: 23.37%; }
      .shop .warper .shop-main .main-main .main-box .main-box1 li {
        height: 249px;
        margin: 0 0.8%;
        padding: 13px 18px 0 13px;
        background-color: #fff;
        border: 1px solid #eee; }
        .shop .warper .shop-main .main-main .main-box .main-box1 li img {
          width: 100%;
          display: block; }
        .shop .warper .shop-main .main-main .main-box .main-box1 li a {
          height: 31px;
          line-height: 31px;
          font-size: 14px;
          font-weight: normal;
          display: block;
          color: #4f4f4f;
          text-align: center;
          text-decoration: none; }
          .shop .warper .shop-main .main-main .main-box .main-box1 li a span {
            text-align: center;
            height: 26px;
            line-height: 26px;
            overflow: hidden;
            font-size: 20px;
            color: #c70238;
            display: block; }
    .shop .warper .shop-main .main-pic {
      margin-top: 1%; }
      .shop .warper .shop-main .main-pic img {
        width: 100%; }
    .shop .warper .shop_content1 {
      margin-bottom: 0.5em; }
      .shop .warper .shop_content1 h3 {
        height: 40px;
        line-height: 40px;
        position: relative;
        overflow: hidden;
        font-size: 18px;
        font-weight: normal;
        padding-left: 50px;
        background-color: #f9f9f9;
        border-bottom: 2px solid #e4004f;
        margin-top: 0;
        margin-bottom: 0; }
        .shop .warper .shop_content1 h3 img {
          position: absolute;
          top: 7px;
          left: 9px;
          width: 25px;
          height: 25px; }
      .shop .warper .shop_content1 .shop-content1-main {
        width: 100%;
        background: #fff;
        padding-bottom: 15px; }
        .shop .warper .shop_content1 .shop-content1-main .shop-content-pic {
          width: 26.7%;
          position: relative;
          overflow: hidden;
          margin-left: 1%;
          background: #333;
          display: block;
          box-shadow: 0 0 10px #FFF; }
          .shop .warper .shop_content1 .shop-content1-main .shop-content-pic a img {
            width: 100%; }
          .shop .warper .shop_content1 .shop-content1-main .shop-content-pic .light {
            cursor: pointer;
            position: absolute;
            left: -180px;
            top: 0;
            width: 180px;
            height: 100%;
            background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            transform: skewx(-25deg);
            -o-transform: skewx(-25deg);
            -moz-transform: skewx(-25deg);
            -webkit-transform: skewx(-25deg); }
        .shop .warper .shop_content1 .shop-content1-main .shop-content-pic:hover .light {
          left: 180px;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          -webkit-transition: 0.5s;
          transition: 0.5s; }
        .shop .warper .shop_content1 .shop-content1-main .shop-content-list {
          width: 71.6%; }
          .shop .warper .shop_content1 .shop-content1-main .shop-content-list li {
            width: 33.3%;
            height: 347px;
            text-align: center;
            padding: 20px 20px 0; }
            .shop .warper .shop_content1 .shop-content1-main .shop-content-list li img {
              width: 74%;
              height: 180px;
              margin: 50px auto 10px auto;
              display: block; }
            .shop .warper .shop_content1 .shop-content1-main .shop-content-list li a {
              text-decoration: none;
              color: red; }
            .shop .warper .shop_content1 .shop-content1-main .shop-content-list li strong {
              height: 28px;
              line-height: 28px;
              overflow: hidden;
              font-size: 18px;
              display: block; }
            .shop .warper .shop_content1 .shop-content1-main .shop-content-list li span {
              height: 19px;
              line-height: 19px;
              overflow: hidden;
              display: block; }
            .shop .warper .shop_content1 .shop-content1-main .shop-content-list li em {
              height: 28px;
              line-height: 28px;
              overflow: hidden;
              font-size: 18px;
              color: #e70050;
              display: block; }
          .shop .warper .shop_content1 .shop-content1-main .shop-content-list li:hover {
            position: relative;
            top: -10px;
            background: #fff;
            box-shadow: 0 0 10px #ccc;
            transition: top 600ms linear 1s; }
    .shop .warper .shop_content2 {
      margin-bottom: 0.5em; }
      .shop .warper .shop_content2 h3 {
        height: 40px;
        line-height: 40px;
        position: relative;
        overflow: hidden;
        font-size: 18px;
        font-weight: normal;
        padding-left: 50px;
        background-color: #f9f9f9;
        border-bottom: 2px solid #e4004f;
        margin-top: 0;
        margin-bottom: 0; }
        .shop .warper .shop_content2 h3 img {
          position: absolute;
          top: 7px;
          left: 9px;
          width: 25px;
          height: 25px; }
      .shop .warper .shop_content2 .shop-content1-main {
        width: 100%;
        background: #fff;
        padding-bottom: 15px; }
        .shop .warper .shop_content2 .shop-content1-main .shop-content-pic {
          width: 26.7%;
          position: relative;
          overflow: hidden;
          margin-left: 1%;
          background: #333; }
          .shop .warper .shop_content2 .shop-content1-main .shop-content-pic a img {
            width: 100%; }
          .shop .warper .shop_content2 .shop-content1-main .shop-content-pic .light {
            cursor: pointer;
            position: absolute;
            left: -180px;
            top: 0;
            width: 180px;
            height: 100%;
            background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            transform: skewx(-25deg);
            -o-transform: skewx(-25deg);
            -moz-transform: skewx(-25deg);
            -webkit-transform: skewx(-25deg); }
        .shop .warper .shop_content2 .shop-content1-main .shop-content-pic:hover .light {
          left: 180px;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          -webkit-transition: 0.5s;
          transition: 0.5s; }
        .shop .warper .shop_content2 .shop-content1-main .shop-content-list {
          width: 71.6%; }
          .shop .warper .shop_content2 .shop-content1-main .shop-content-list li {
            width: 33.3%;
            height: 347px;
            text-align: center;
            padding: 60px 20px 0; }
            .shop .warper .shop_content2 .shop-content1-main .shop-content-list li img {
              width: 74%;
              height: 180px;
              margin: 20px auto 10px auto;
              display: block; }
            .shop .warper .shop_content2 .shop-content1-main .shop-content-list li a {
              text-decoration: none;
              color: red; }
            .shop .warper .shop_content2 .shop-content1-main .shop-content-list li strong {
              height: 28px;
              line-height: 28px;
              overflow: hidden;
              font-size: 18px;
              display: block; }
            .shop .warper .shop_content2 .shop-content1-main .shop-content-list li span {
              height: 19px;
              line-height: 19px;
              overflow: hidden;
              display: block; }
            .shop .warper .shop_content2 .shop-content1-main .shop-content-list li em {
              height: 28px;
              line-height: 28px;
              overflow: hidden;
              font-size: 18px;
              color: #e70050;
              display: block; }
          .shop .warper .shop_content2 .shop-content1-main .shop-content-list li:hover {
            position: relative;
            top: -10px;
            background: #fff;
            box-shadow: 0 0 10px #ccc;
            transition: top 600ms linear 1s; }
    .shop .warper .shop_rely_on h3 {
      height: 40px;
      line-height: 40px;
      position: relative;
      overflow: hidden;
      font-size: 18px;
      font-weight: normal;
      background-color: #f9f9f9; }
    .shop .warper .shop_rely_on ul li {
      width: 31.5%;
      overflow: hidden;
      margin-left: 2.7%;
      display: inline; }
      .shop .warper .shop_rely_on ul li img {
        width: 100%; }
    .shop .warper .shop_rely_on ul li:nth-of-type(1) {
      margin-left: 0; }
    .shop .warper .shop-footer {
      margin: 25px auto 0px auto;
      padding-bottom: 3em;
      background-color: #ffffff;
      border-top: 7px solid #de5251;
      font-size: 12px; }
      .shop .warper .shop-footer .footer-pic {
        margin: 20px 0; }
        .shop .warper .shop-footer .footer-pic img {
          width: 100%; }
      .shop .warper .shop-footer ul {
        margin: auto;
        width: 33%;
        line-height: 31px; }
        .shop .warper .shop-footer ul li {
          margin: 0 6px;
          text-align: center; }
          .shop .warper .shop-footer ul li a {
            color: #4f4f4f; }
      .shop .warper .shop-footer p {
        line-height: 31px;
        text-align: center;
        color: #535353;
        margin: 1em 0; }
      .shop .warper .shop-footer .footer-img {
        width: 25%;
        margin: auto; }
        .shop .warper .shop-footer .footer-img img {
          width: 100%; }

@media (max-width: 1545px) {
  .shop .warper header .header-nav li {
    width: 12.5%;
    padding: 0 3.5%; }
  .shop .warper header .header-nav li:nth-of-type(4) {
    margin-left: 0; }
  .shop .warper .shop_banner .banner-right {
    display: none; }
  .shop .warper .shop_banner .swiper-container {
    width: 100%;
    height: inherit;
    float: left; }
  .shop .warper .shop-main .main-pic {
    margin-top: 7%; } }

@media (max-width: 1200px) {
  .shop .warper header .header-nav li {
    padding: 0 0.5%; }
  .shop .warper header .header-nav li:nth-of-type(4) {
    margin-left: 0; }
  .shop .warper .center .center-logo {
    width: 20%;
    float: none;
    margin: auto; }
  .shop .warper .center .center-input {
    float: none;
    width: 80%;
    margin: auto;
    margin-top: 2em; }
  .shop .warper .center .center-pic {
    display: none; }
  .shop .warper .shop_banner .banner-right {
    display: none; }
  .shop .warper .shop_banner .swiper-container {
    width: 100%;
    height: inherit;
    float: left; }
  .shop .warper .shop-main .main-pic {
    margin-top: 11%;
    padding-right: 0;
    padding-left: 26px; } }

@media (max-width: 1024px) {
  .shop .warper .shop-main .main-main .main-box .main-box1 li {
    height: 230px;
    padding: 13px 10px; }
    .shop .warper .shop-main .main-main .main-box .main-box1 li a {
      font-size: 11px; }
  .shop .warper .shop_content1 .shop-content1-main .shop-content-list li {
    height: inherit; }
    .shop .warper .shop_content1 .shop-content1-main .shop-content-list li img {
      height: inherit;
      width: 100%;
      margin: 0; }
  .shop .warper .shop_content2 .shop-content1-main .shop-content-pic {
    margin-top: 3.5%; }
  .shop .warper .shop_content2 .shop-content1-main .shop-content-list li {
    height: inherit;
    padding: 10% 4%; }
    .shop .warper .shop_content2 .shop-content1-main .shop-content-list li img {
      height: inherit;
      width: 100%;
      margin: 0; }
  .shop .warper .shop_banner .banner-right {
    display: none; }
  .shop .warper .shop_banner .swiper-container {
    width: 100%;
    height: inherit;
    float: left; } }

@media (max-width: 991px) {
  .shop .warper .shop-main .main-pic {
    display: none; }
  .shop .warper .shop_banner .banner-right {
    display: none; }
  .shop .warper .shop_banner .swiper-container {
    width: 100%;
    height: inherit;
    float: left; }
  .shop .warper .shop-footer ul {
    width: 68%; } }

@media (max-width: 610px) {
  .shop .warper header .header-nav li {
    width: 23.5%;
    padding: 0;
    font-size: 11px; }
  .shop .warper header .header-nav li:nth-of-type(4) {
    margin-left: 0; }
  .shop .warper .shop_banner .banner-right {
    display: none; }
  .shop .warper .shop_banner .swiper-container {
    width: 100%;
    height: inherit;
    float: left; } }

@media (max-width: 480px) {
  .shop .warper {
    width: 100%; }
    .shop .warper header .header-nav li:nth-of-type(4) {
      margin-left: 0; }
    .shop .warper .center .center-logo {
      width: 43%;
      margin: auto;
      float: none; }
    .shop .warper .center .center-pic {
      width: 70%;
      margin: auto;
      float: none; }
    .shop .warper .nav .nav-li1 {
      width: 100%; }
    .shop .warper .nav .nav-ul {
      width: 100%; }
      .shop .warper .nav .nav-ul li {
        width: 19.5%; }
        .shop .warper .nav .nav-ul li a {
          width: 80px;
          font-size: 13px; }
    .shop .warper .shop_banner .banner-right {
      display: none; }
    .shop .warper .shop_banner .swiper-container {
      width: 100%;
      height: inherit;
      float: left; }
    .shop .warper .shop-main .main-main {
      height: inherit; }
      .shop .warper .shop-main .main-main .main-list {
        border-bottom: 2px solid #000; }
        .shop .warper .shop-main .main-main .main-list li a {
          font-size: 13px; }
        .shop .warper .shop-main .main-main .main-list .change {
          border-bottom: 2px solid #c5023a; }
      .shop .warper .shop-main .main-main .main-box .main-box1 .col-md-3 {
        width: 25%; }
      .shop .warper .shop-main .main-main .main-box .main-box1 li {
        height: 180px;
        margin: 0; }
        .shop .warper .shop-main .main-main .main-box .main-box1 li a {
          font-size: 11px;
          line-height: 160%;
          margin-top: 1em; }
          .shop .warper .shop-main .main-main .main-box .main-box1 li a span {
            font-size: 16px;
            margin-top: 0.5em; }
    .shop .warper .shop-main .main-pic {
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
      .shop .warper .shop-main .main-pic img {
        width: 100%; }
    .shop .warper .shop_content1 .shop-content1-main .shop-content-pic img {
      display: none; }
    .shop .warper .shop_content1 .shop-content1-main .shop-content-list {
      width: 100%; }
      .shop .warper .shop_content1 .shop-content1-main .shop-content-list li {
        height: inherit;
        padding: 0;
        width: 33.3%;
        text-align: center;
        font-size: 11px; }
        .shop .warper .shop_content1 .shop-content1-main .shop-content-list li img {
          width: %;
          height: inherit;
          margin: 5px auto;
          display: block; }
        .shop .warper .shop_content1 .shop-content1-main .shop-content-list li span {
          display: none; }
    .shop .warper .shop_content2 .shop-content1-main .shop-content-pic img {
      display: none; }
    .shop .warper .shop_content2 .shop-content1-main .shop-content-list {
      width: 100%; }
      .shop .warper .shop_content2 .shop-content1-main .shop-content-list li {
        height: inherit;
        padding: 0;
        width: 33.3%;
        text-align: center;
        font-size: 11px; }
        .shop .warper .shop_content2 .shop-content1-main .shop-content-list li img {
          width: %;
          height: inherit;
          margin: 5px auto;
          display: block; }
        .shop .warper .shop_content2 .shop-content1-main .shop-content-list li span {
          display: none; }
    .shop .warper .shop_rely_on h3 {
      text-align: center; }
    .shop .warper .shop_rely_on ul li {
      height: inherit; }
    .shop .warper .shop-footer ul {
      width: 98%; }
    .shop .warper .shop-footer .footer-img {
      width: 50%;
      margin-top: 2em; } }

.culture-banner img {
  width: 100%; }

.culture-main {
  margin-top: 5em; }
  .culture-main h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
  .culture-main p {
    display: block;
    width: 60%;
    text-align: center;
    margin: 2em auto;
    line-height: 280%; }
  .culture-main .culture-main-pic {
    width: 40.2%;
    margin: 2em auto; }
    .culture-main .culture-main-pic img {
      width: 100%; }

.culture-content {
  margin-bottom: 10em; }
  .culture-content h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #8064a2; }
  .culture-content p {
    display: block;
    width: 60%;
    text-align: center;
    margin: 2em auto;
    line-height: 280%; }
  .culture-content h3 {
    font-size: 16px;
    text-align: center; }
  .culture-content .culture-content-pic {
    width: 40.3%;
    margin: 2em auto; }
    .culture-content .culture-content-pic img {
      width: 100%; }

@media (max-width: 480px) {
  .culture-main p {
    width: 90%;
    line-height: 170%; }
  .culture-main .culture-main-pic {
    width: 100%; }
  .culture-content p {
    width: 90%;
    line-height: 170%; }
  .culture-content .culture-content-pic {
    width: 100%; } }

.share-main, .share-content {
  float: left; }

.share-banner img {
  width: 100%; }

.share_bg {
  background: #f4f4f4; }
  .share_bg .share-main {
    margin-top: 5em; }
    .share_bg .share-main h3 {
      text-align: center;
      margin-top: 53px;
      display: block;
      width: 10%;
      font-size: 24px;
      line-height: 30px;
      margin: auto; }
      .share_bg .share-main h3 span {
        display: block;
        width: 40%;
        border-bottom: 1px solid #c6023a;
        margin: auto;
        margin-top: 0.4em; }
    .share_bg .share-main .share-main-main {
      width: 80%;
      height: 20em;
      margin: 2em auto; }
      .share_bg .share-main .share-main-main .col-md-6 {
        padding-right: 0;
        padding-left: 0; }
      .share_bg .share-main .share-main-main .col-md-6:nth-of-type(1) {
        width: 46.2%; }
      .share_bg .share-main .share-main-main .col-md-6:nth-of-type(2) {
        width: 53.8%; }
      .share_bg .share-main .share-main-main .share-pic {
        height: 20em; }
        .share_bg .share-main .share-main-main .share-pic img {
          width: 100%;
          height: 100%; }
      .share_bg .share-main .share-main-main .share-text {
        padding: 0 5% 5% 5%;
        background: #fff;
        height: 20em; }
        .share_bg .share-main .share-main-main .share-text h2 {
          display: block;
          float: left;
          width: 100%;
          margin-top: 5%;
          font-size: 24px;
          line-height: 42px;
          height: 42px;
          color: #141414;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .share_bg .share-main .share-main-main .share-text span {
          display: block;
          float: left;
          width: 100%;
          font-size: 14px;
          line-height: 41px;
          overflow: hidden;
          color: #6f6f6f; }
        .share_bg .share-main .share-main-main .share-text font {
          display: block;
          float: left;
          width: 100%;
          margin-top: 20%; }
          .share_bg .share-main .share-main-main .share-text font i {
            display: block;
            float: left;
            background: url(../images/share_main_font_1_pic.png) no-repeat left center;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            color: #6b6b6b;
            padding-left: 24px;
            font-style: normal; }
          .share_bg .share-main .share-main-main .share-text font a {
            display: block;
            float: right;
            height: 16px;
            line-height: 16px;
            background: url(../images/share_main_font_2_pic.png) no-repeat right center;
            padding-right: 30px;
            color: #c6023a;
            font-size: 14px; }
  .share_bg .share-content ul {
    width: 80%;
    margin: auto;
    padding-bottom: 3em; }
    .share_bg .share-content ul li {
      margin-top: 2em; }
      .share_bg .share-content ul li img {
        width: 100%; }
      .share_bg .share-content ul li font {
        display: block;
        background: #fff;
        padding: 0.5em 1em;
        height: 170px; }
        .share_bg .share-content ul li font p {
          display: block;
          font-size: 16px;
          line-height: 30px;
          padding-top: 20px;
          color: #262626; }
        .share_bg .share-content ul li font span {
          display: block;
          line-height: 24px;
          color: #6b6b6b;
          margin-top: 20px;
          font-style: normal; }

@media (max-width: 1200px) {
  .share_bg .share-main {
    width: 100%;
    margin-top: 0; }
    .share_bg .share-main h3 {
      width: 25%;
      margin: 1em auto; }
    .share_bg .share-main .share-main-main {
      width: 100%;
      margin: 0; }
      .share_bg .share-main .share-main-main .col-md-6 {
        width: 100% !important; }
      .share_bg .share-main .share-main-main .share-pic {
        display: none; }
      .share_bg .share-main .share-main-main .share-text {
        height: inherit;
        margin-bottom: 2em; }
        .share_bg .share-main .share-main-main .share-text font {
          margin-top: 10%; }
  .share_bg .share-content ul li font {
    height: 150px; }
    .share_bg .share-content ul li font p {
      font-size: 11px; } }

@media (max-width: 480px) {
  .share_bg .share-main {
    width: 100%;
    margin-top: 0; }
    .share_bg .share-main h3 {
      width: 25%;
      margin: 1em auto; }
    .share_bg .share-main .share-main-main {
      width: 100%;
      margin: 0; }
      .share_bg .share-main .share-main-main .col-md-6 {
        width: 100% !important; }
      .share_bg .share-main .share-main-main .share-text {
        padding: auto 2em; }
        .share_bg .share-main .share-main-main .share-text h2 {
          font-size: 20px; }
        .share_bg .share-main .share-main-main .share-text span {
          font-size: 12px; }
        .share_bg .share-main .share-main-main .share-text font {
          margin: 2.1em 0 2em; }
  .share_bg .share-content ul li font {
    height: 150px; }
    .share_bg .share-content ul li font p {
      font-size: 13px; } }

.store-main-main ul li {
  float: left; }

.store-banner img {
  width: 100%; }

.store_bg {
  width: 80%;
  margin: 2em auto; }
  .store_bg .store-main h3 {
    font-size: 16px;
    color: #000;
    line-height: 32px;
    margin-top: 20px; }
  .store_bg .store-main .store-main-main {
    background: #f4f4f4;
    padding: 2em 2em; }
    .store_bg .store-main .store-main-main ul li label {
      display: inline-block;
      font-size: 14px;
      color: #262525;
      margin-left: 30px; }
    .store_bg .store-main .store-main-main ul li select {
      width: 132px;
      height: 38px;
      /* line-height: 36px; */
      padding-left: 15px;
      font-size: 14px;
      color: #262525;
      margin-left: 16px;
      background: none;
      /* outline: none; */
      cursor: pointer;
      /* -webkit-border-radius: 10px; */
      -moz-border-radius: 10px;
      border-radius: 10px; }
  .store_bg .store-content {
    margin-bottom: 2em; }
    .store_bg .store-content .box {
      width: 100%;
      margin: 40px 0; }
      .store_bg .store-content .box #container1 {
        width: 100%;
        height: 100%; }
        .store_bg .store-content .box #container1 img {
          width: 100%;
          height: 100%; }

@media (max-width: 480px) {
  .store-main-main ul li {
    margin-top: 2em; } }

.bid-main-box1, .bid-main-text1 {
  float: left; }

.bid-banner img {
  width: 100%; }

.bid-main {
  margin-top: 4em; }
  .bid-main ul li {
    width: 47.5%;
    padding-bottom: 45px;
    border-bottom: 1px solid #e5ebe7;
    margin-top: 41px;
    margin-right: 2em; }
    .bid-main ul li li:nth-of-type(2) {
      margin-right: 0; }
    .bid-main ul li .bid-main-box1 {
      width: 16%;
      height: 93px;
      border: 1px solid #d7d7d7;
      text-align: center;
      padding: 0 8px;
      border-radius: 10px;
      border-radius: 10px;
      margin-right: 2em; }
      .bid-main ul li .bid-main-box1 span {
        display: block;
        margin-top: 8px;
        font-size: 24px;
        color: #c6023a;
        line-height: 48px; }
      .bid-main ul li .bid-main-box1 i {
        display: block;
        height: 1px;
        background: #d7d7d7;
        margin-top: 3px; }
      .bid-main ul li .bid-main-box1 font {
        font-size: 14px;
        line-height: 28px;
        color: #434343; }
    .bid-main ul li .bid-main-text1 {
      width: 77.3%; }
      .bid-main ul li .bid-main-text1 span {
        line-height: 36px;
        font-size: 18px;
        color: #262626; }
      .bid-main ul li .bid-main-text1 i {
        margin-top: 3px;
        line-height: 36px; }
      .bid-main ul li .bid-main-text1 font {
        display: block;
        text-align: right;
        margin-top: 5px; }
        .bid-main ul li .bid-main-text1 font a {
          background: url(../images/share_main_font_2_pic.png) no-repeat right center;
          padding-right: 30px; }

.bid-content .bid-button {
  width: 6%;
  margin: 6em auto; }
  .bid-content .bid-button a:nth-of-type(1) {
    background: url(../images/img_fy_1.png) no-repeat center;
    margin-right: 6px;
    display: inline-block;
    width: 32px;
    height: 32px; }
  .bid-content .bid-button a:nth-of-type(2) {
    line-height: 32px;
    color: #c6023a;
    vertical-align: top; }
  .bid-content .bid-button a:nth-of-type(3) {
    background: url(../images/img_fy_2.png) no-repeat center;
    margin-left: 6px;
    display: inline-block;
    width: 32px;
    height: 32px; }

@media (max-width: 1200px) {
  .bid-main ul li {
    width: 100%; }
  .bid-content .bid-button {
    width: 10%; } }

@media (max-width: 480px) {
  .bid-main ul li {
    width: 100%;
    margin: 0; }
    .bid-main ul li .bid-main-box1 {
      width: 22%; }
    .bid-main ul li .bid-main-text1 {
      width: 69.3%; }
      .bid-main ul li .bid-main-text1 i {
        display: block; }
  .bid-content .bid-button {
    width: 24%; } }

.investor-main-box1, .investor-main-text1 {
  float: left; }

.investor-banner img {
  width: 100%; }

.investor-main {
  margin-top: 4em; }
  .investor-main ul li {
    width: 47.5%;
    padding-bottom: 45px;
    border-bottom: 1px solid #e5ebe7;
    margin-top: 41px;
    margin-right: 2em; }
    .investor-main ul li li:nth-of-type(2) {
      margin-right: 0; }
    .investor-main ul li .investor-main-box1 {
      width: 16%;
      height: 93px;
      border: 1px solid #d7d7d7;
      text-align: center;
      padding: 0 8px;
      border-radius: 10px;
      border-radius: 10px;
      margin-right: 2em; }
      .investor-main ul li .investor-main-box1 span {
        display: block;
        margin-top: 8px;
        font-size: 24px;
        color: #c6023a;
        line-height: 48px; }
      .investor-main ul li .investor-main-box1 i {
        display: block;
        height: 1px;
        background: #d7d7d7;
        margin-top: 3px; }
      .investor-main ul li .investor-main-box1 font {
        font-size: 14px;
        line-height: 28px;
        color: #434343; }
    .investor-main ul li .investor-main-text1 {
      width: 77.3%; }
      .investor-main ul li .investor-main-text1 span {
        line-height: 36px;
        font-size: 18px;
        color: #262626; }
      .investor-main ul li .investor-main-text1 i {
        margin-top: 3px;
        line-height: 36px;
        display: block; }
      .investor-main ul li .investor-main-text1 font {
        display: block;
        text-align: right;
        margin-top: 5px; }
        .investor-main ul li .investor-main-text1 font a {
          background: url(../images/share_main_font_2_pic.png) no-repeat right center;
          padding-right: 30px; }

.investor-content .investor-button {
  width: 18%;
  margin: 6em auto; }
  .investor-content .investor-button a:nth-of-type(1) {
    background: url(../images/img_fy_1.png) no-repeat center;
    margin-right: 1em;
    display: inline-block;
    width: 32px;
    height: 32px; }
  .investor-content .investor-button .investor_a {
    line-height: 32px;
    color: #c6023a;
    vertical-align: top;
    margin-left: 1em; }
  .investor-content .investor-button a:nth-of-type(9) {
    background: url(../images/img_fy_2.png) no-repeat center;
    margin-left: 1em;
    display: inline-block;
    width: 32px;
    height: 32px; }

@media (max-width: 1200px) {
  .investor-main ul li {
    width: 100%; }
  .investor-content .investor-button {
    width: 29%; } }

@media (max-width: 480px) {
  .investor-main ul li {
    width: 100%;
    margin: 0 0 2em 0; }
    .investor-main ul li .investor-main-box1 {
      width: 22%; }
    .investor-main ul li .investor-main-text1 {
      width: 69.3%; }
  .investor-content .investor-button {
    width: 70%; } }

.login-return {
  padding-top: 1em; }
  .login-return p a {
    font-size: 13px;
    color: #333;
    text-decoration: none; }
    .login-return p a :hover {
      color: red; }

.login-main {
  padding: 5px 0;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3); }
  .login-main .login-list {
    height: 45px;
    font-size: 16px;
    padding: 0 35%;
    border-bottom: 1px solid #999; }
    .login-main .login-list li {
      float: left; }
      .login-main .login-list li a {
        color: #999;
        line-height: 220%; }
    .login-main .login-list li:nth-of-type(1) {
      margin-right: 50%; }
  .login-main .login-main-text1 {
    display: none; }
    .login-main .login-main-text1 .login-form1 {
      margin: 2em auto; }
      .login-main .login-main-text1 .login-form1 form p label {
        color: #999;
        display: block;
        font-weight: normal; }
      .login-main .login-main-text1 .login-form1 form p input {
        width: 80%;
        height: 38px;
        padding-left: 5px;
        line-height: 30px;
        line-height: 38px;
        border: 1px solid #D7D7D7;
        background: #fff;
        color: #333;
        border-radius: 2px;
        font-family: Verdana, Tahoma, Arial;
        font-size: 16px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
      .login-main .login-main-text1 .login-form1 form p input[type="text"] {
        margin-bottom: 0.3em; }
      .login-main .login-main-text1 .login-form1 form p span {
        font-size: 12px;
        color: red;
        margin-left: 5px; }
      .login-main .login-main-text1 .login-form1 form .forget {
        margin: 2em 0 0.5em 0; }
        .login-main .login-main-text1 .login-form1 form .forget span {
          float: right;
          margin-right: 7em; }
      .login-main .login-main-text1 .login-form1 form .login-button {
        display: block;
        height: 38px;
        border-radius: 1px;
        background: #8975B4;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        padding: 0 10px;
        text-align: center;
        outline: none;
        font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
        border: 1px #fff solid;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        width: 80%; }
        .login-main .login-main-text1 .login-form1 form .login-button :hover {
          box-shadow: 2px 2px 3px #999; }
    .login-main .login-main-text1 .login-right img {
      width: 80%;
      margin: 3em 1.5em 0 0; }
  .login-main .login-main-text2 .login-form2 {
    margin: 2em auto; }
    .login-main .login-main-text2 .login-form2 form p label {
      color: #999;
      display: block;
      font-weight: normal; }
      .login-main .login-main-text2 .login-form2 form p label span {
        color: red; }
    .login-main .login-main-text2 .login-form2 form p input {
      width: 80%;
      height: 38px;
      padding-left: 5px;
      line-height: 30px;
      line-height: 38px;
      border: 1px solid #D7D7D7;
      background: #fff;
      color: #333;
      border-radius: 2px;
      font-family: Verdana, Tahoma, Arial;
      font-size: 16px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .login-main .login-main-text2 .login-form2 form p input[type="text"] {
      margin-bottom: 0.3em; }
    .login-main .login-main-text2 .login-form2 form p span {
      font-size: 12px;
      color: red;
      margin-left: 5px; }
    .login-main .login-main-text2 .login-form2 form p:nth-of-type(2) img {
      float: left;
      margin: 0 12.4% 0 13%; }
    .login-main .login-main-text2 .login-form2 form p:nth-of-type(2) input[type="button"] {
      width: 30%;
      font-size: 14px;
      background-color: #8975B4;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border: none;
      margin: 0;
      font-weight: normal;
      color: #fff;
      float: left; }
    .login-main .login-main-text2 .login-form2 form p:nth-of-type(3) input[type="text"] {
      width: 50%;
      float: left; }
    .login-main .login-main-text2 .login-form2 form p:nth-of-type(3) input[type="button"] {
      width: 30%;
      font-size: 14px;
      background-color: #8975B4;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border: none;
      margin: 0;
      font-weight: normal;
      color: #fff;
      float: left; }
    .login-main .login-main-text2 .login-form2 form .agree {
      margin: 2em 0 0.5em 0; }
      .login-main .login-main-text2 .login-form2 form .agree span {
        float: right;
        margin-right: 7em; }
    .login-main .login-main-text2 .login-form2 form .login-button {
      display: block;
      height: 38px;
      border-radius: 1px;
      background: #8975B4;
      border: none;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      padding: 0 10px;
      text-align: center;
      outline: none;
      font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
      border: 1px #fff solid;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      width: 80%; }
      .login-main .login-main-text2 .login-form2 form .login-button :hover {
        box-shadow: 2px 2px 3px #999; }
  .login-main .login-main-text2 .login-right img {
    width: 80%;
    margin: 3em 1.5em 0 0; }

@media (max-width: 1200px) {
  .login-main .login-list li:nth-of-type(1) {
    margin-right: 40%; }
  .login-main .login-main-text1 {
    padding-bottom: 2em; }
    .login-main .login-main-text1 .login-left {
      display: none; }
    .login-main .login-main-text1 .login-form1 {
      width: 50%;
      margin-left: 5%; }
      .login-main .login-main-text1 .login-form1 form p {
        margin: 0; }
        .login-main .login-main-text1 .login-form1 form p input {
          width: 100%;
          margin-top: 0.1em; }
      .login-main .login-main-text1 .login-form1 form .forget {
        margin: 1em 0 .5em; }
        .login-main .login-main-text1 .login-form1 form .forget span {
          margin-right: 0; }
      .login-main .login-main-text1 .login-form1 form .login-button {
        width: 100%;
        margin-top: 1em; }
    .login-main .login-main-text1 .login-right {
      width: 30%;
      margin: 5% 0 0 8%; }
      .login-main .login-main-text1 .login-right img {
        width: 100%;
        margin: 0; }
  .login-main .login-main-text2 {
    padding-bottom: 2em; }
    .login-main .login-main-text2 .login-left {
      display: none; }
    .login-main .login-main-text2 .login-form2 {
      width: 50%;
      margin-left: 5%; }
      .login-main .login-main-text2 .login-form2 form p {
        margin: 0; }
        .login-main .login-main-text2 .login-form2 form p input {
          width: 100%;
          margin-top: 0.1em; }
      .login-main .login-main-text2 .login-form2 form .forget {
        margin: 1em 0 .5em; }
        .login-main .login-main-text2 .login-form2 form .forget span {
          margin-right: 0; }
      .login-main .login-main-text2 .login-form2 form .login-button {
        width: 100%;
        margin-top: 1em; }
    .login-main .login-main-text2 .login-right {
      width: 30%;
      margin: 10% 0 0 8%; }
      .login-main .login-main-text2 .login-right img {
        width: 100%;
        margin: 0; } }

@media (max-width: 1024px) {
  .login-main .login-list li:nth-of-type(1) {
    margin-right: 40%; }
  .login-main .login-main-text1 {
    padding-bottom: 2em; }
    .login-main .login-main-text1 .login-left {
      display: none; }
    .login-main .login-main-text1 .login-form1 {
      width: 50%;
      margin-left: 5%; }
      .login-main .login-main-text1 .login-form1 form p {
        margin: 0; }
        .login-main .login-main-text1 .login-form1 form p input {
          width: 100%;
          margin-top: 0.1em; }
      .login-main .login-main-text1 .login-form1 form .forget {
        margin: 1em 0 .5em; }
        .login-main .login-main-text1 .login-form1 form .forget span {
          margin-right: 0; }
      .login-main .login-main-text1 .login-form1 form .login-button {
        width: 100%;
        margin-top: 1em; }
    .login-main .login-main-text1 .login-right {
      width: 30%;
      margin: 5% 0 0 8%; }
      .login-main .login-main-text1 .login-right img {
        width: 100%;
        margin: 0; }
  .login-main .login-main-text2 {
    padding-bottom: 2em; }
    .login-main .login-main-text2 .login-left {
      display: none; }
    .login-main .login-main-text2 .login-form2 {
      width: 50%;
      margin-left: 5%; }
      .login-main .login-main-text2 .login-form2 form p:nth-of-type(2) {
        margin: 0; }
        .login-main .login-main-text2 .login-form2 form p:nth-of-type(2) input[type="button"] {
          width: 30%; }
        .login-main .login-main-text2 .login-form2 form p:nth-of-type(2) img {
          margin: 0 17.4% 0 18%; }
      .login-main .login-main-text2 .login-form2 form p:nth-of-type(3) {
        margin: 0; }
        .login-main .login-main-text2 .login-form2 form p:nth-of-type(3) input[type="text"] {
          width: 70%; }
        .login-main .login-main-text2 .login-form2 form p:nth-of-type(3) input[type="button"] {
          width: 30%; }
      .login-main .login-main-text2 .login-form2 form .forget {
        margin: 1em 0 .5em; }
        .login-main .login-main-text2 .login-form2 form .forget span {
          margin-right: 0; }
      .login-main .login-main-text2 .login-form2 form .login-button {
        width: 100%;
        margin-top: 1em; }
    .login-main .login-main-text2 .login-right {
      width: 30%;
      margin: 10% 0 0 8%; }
      .login-main .login-main-text2 .login-right img {
        width: 100%;
        margin: 0; } }

@media (max-width: 480px) {
  .login-main .login-main-text2 .login-form2 form p {
    margin: 0; }
    .login-main .login-main-text2 .login-form2 form p input {
      width: 100%;
      margin-top: 0.1em; }
  .login-main .login-main-text2 .login-form2 form p:nth-of-type(2) input[type="button"] {
    width: 43.5%; }
  .login-main .login-main-text2 .login-form2 form p:nth-of-type(3) input[type="text"] {
    width: 55%; }
  .login-main .login-main-text2 .login-form2 form p:nth-of-type(3) input[type="button"] {
    width: 43.5%;
    font-size: 14px;
    background-color: #8975B4;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: none;
    margin: 0;
    font-weight: normal;
    color: #fff;
    float: left; }
  .login-main .login-main-text2 .login-form2 form .agree {
    margin: 1em 0 .5em; }
    .login-main .login-main-text2 .login-form2 form .agree span {
      margin-right: 0; }
  .login-main .login-main-text2 .login-form2 form .login-button {
    width: 100%;
    margin-top: 1em; }
  .login-main .login-main-text2 .login-right {
    width: 80%;
    margin: auto; }
    .login-main .login-main-text2 .login-right img {
      width: 100%;
      margin: 0; } }
